* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

html,
body {
    width: 100%;
    height: 100%;
}

.container {
    width: 100%;
    height: 100vh;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.card-body {
    width: 300px;
    height: 400px;
    border: 2px solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 1px solid grey;
    margin: 10px 0px;
    object-fit: fit;

}

.title {
    margin: 30px 0;
    text-align: center;
    font-size: 20px;

}

.desc {
    font-size: 20px;
}

.searchBox {
    margin-left: 40%;
    display: block;
    padding: 10px;

}

.searchBox input {
    width: 300px;
    border: 2px solid black;
    border-radius: 20px;
    height: 25px;
    font-size: 18px;
    margin-right: 10px;
    padding: 10px;
}

.searchBox button {
    height: 25px;
    border-radius: 20px;
    padding: 5px;

}

.searchBox button:hover {
    font-weight: 200;
    background-color: #cdc5c5;
    color: #000;
}