
.cart-container{
    margin-top: 5rem!important;
    display: flex;
    flex-direction: column;

}
.cart-heading {
    margin: auto;
    display: block;
    padding-top:22px;  


}

body.light-theme .cart-heading h2{
    color: #000;

}
.cart-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    border: 1px solid black;
    border-radius: 10px;
    padding: 1rem;
    margin-left: 20%;
    margin-bottom:1rem ;
}
 .cartitem-img{
    width: 80px;
    height: 80px;
    margin-left: 2px;
}
.cartimg-title-container{
   width: 40vh;
   overflow-x: hidden;
} 
.cartitem-title{
font-size: 1.2rem;
}
.cart-item-counter{
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;

}

.addIcon ,  .minusIcon , .removeIcon{
cursor: pointer;
}
.removeIcon{
    margin-left: 11px;
}


.empty-cart-text{

   margin: auto;
   display: block;
    font-size: 2rem;
    font-weight: 500;
}



.quantity {
  margin: 0 10px;
  font-weight: bold;
}

/* ------------------------darktheme Css */
body.dark-theme .cartitem-img{
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #fff;
    padding: 2px;
}
body.dark-theme .cart-item{
    border: 1px solid #49555d;
}
