*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #000;
  font-family: Arial;
}
body,html{
  width: 100%;
  height: 100%;
}
.navbar{
display: flex;
justify-content: space-between;
align-items: center;
padding: 30px;
background-color:blanchedalmond;
margin: 5px;
border-radius: 10px;
height: 10%;
}
.logo{
  font-weight: 400;
}
.logo:hover{
  font-weight: 600;
  transition: transform 0.7s ease-in;

}
.navItem{
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  /* background-color: antiquewhite; */
  margin-right: 20px;
 
}
.navItem a{
  text-decoration: none;
  font-size: 20px;
  
}
.logout{}