* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #000;
    font-family: Arial;
}

body,
html {
    width: 100%;
    height: 100%;
}

/* .loginContainer{
    position: relative;
} */
.Container {
    width: 500px;
    border: 1px solid #000;
    border-radius: 20px;
    background-color: rgb(238, 236, 232);
    /* display: flex;
    flex-direction: column; */
    position: absolute;

    padding: 20px;

}

.login {
    top: 30%;
    left: 30%;
}
.register{
    top: 30%;
    left:30%
}

.fields {
    display: flex;
    flex-direction: column;
    margin-top: 10px;

}

.fields input,
label {
    margin-top: 10px;
    padding: 3px;
}

.btn {
    padding: 5px;
    font-size: 15px;
    margin-top: 10px;
    background-color: red;
    border: #000;
    border-radius: 10px;
    color: #fff;

}

.btn:hover {
    background-color: rgb(93, 140, 22);
    color: #000;
}