.swiper {
    width: 100%;
    height: 85vh;
    /* border-radius: 4rem; */
    border: 1px solid rgb(226, 219, 219);
    background-color:beige;
    margin-top: 10px;

}

.swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    /* border-radius: 4rem;
    border: 5px solid rgb(102, 96, 96); */
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 2rem;
}
.swiper-slide h2{
    text-transform: uppercase;
    font-weight: 600;
}