.sidebar-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid black;
    margin: 5px;
}
.price-range input{
width: 10rem;
margin-left: 5px;
}
h4{
font-size: 1rem;
color:rgb(86, 86, 86);
padding-left: 10px;
margin-top: 1rem;

}
.category{
    padding: 10px;
}
.category-btn button{
    padding:1px 1rem;
    margin-right: 15px;
    margin-bottom: 6px;
    border-radius: 20px;
    background-color: rgb(224, 218, 218);
}

