.text h2{
    margin: 2rem;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

.swiper {
    width: 95%;
    height: 20rem;
    padding: 2rem;
    margin-top: 2rem;
    margin-right: 2.5%;
    /* margin-left: 2.5%; */
    /* background-color: rgb(247, 245, 242); */
    border-radius: 20px;

}

.swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 15rem;
    box-shadow:5px 3px 10px 0px rgb(161, 161, 145); 
    border: 5px rgb(173, 166, 166); 
    border-radius: 4px;
    background-color:beige;

}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 10px;
     padding: 10px;
}
.swiper-slide h2{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1rem;
}