.details-container {
    width: 60%;
    margin-left: 20%;
    margin-top: 6.5rem;
    background: rgba(223, 217, 217, 0.308);
    height: 80vh;
    border-radius: 20px;
    border: 1px solid black;
    padding: 1rem;
}
.goback-btn{
    padding: 4px;
    background-color: rgb(50, 113, 50);
    color: #fff;
    border-radius: 10px;
    border: none;
}
.item-details-body {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    margin-top: 12px;
    width: 100%;

}

.details-img {
    width: 50%;
    height: 70vh;
    background-color: antiquewhite;
    margin-left: 1rem;
    border: 1px solid #000;
    border-radius: 20px;
}

.details-img img {
    width: 100%;
    height: 100%;
    padding: 1rem;
    object-fit: contain;
}

.details-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #e6e3e3;
    color: #000;
    /* border: 1px solid black; */
    width: 50%;
    border-radius: 20px;
    padding: 10px;
    margin-left: 5px;
}

.details-info h2 {
    font-size: 1.5rem;
    margin-top: 6rem;
}
.details-info h3{
    font-size: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.details-info button{
    padding: 7px;
    background-color:rgb(59, 126, 59);
    color: #fff;
    border-radius: 10px;
    border: none;
    margin-top: 1rem;

}

.details-btn1{
    margin-right:1rem;
}
